.prato__container {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: auto;
}
.prato {
    width: 100%;
}
.prato__categoria {
    width: fit-content;
}
.prato__imagem {
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.prato__data {
    font-weight: 600;
}
.filtro__select {
    width: 300px;
}