* {
    margin: 0;
    padding: 0;
}
#home {
    height: calc(70vh - 64px);
}
.home__text__container {
    background: linear-gradient(45deg, rgba(0,0,0,0.7), rgba(0,0,0,0.2));
}
.home__text {
    text-align: center;
    max-width: 650px;
}
.home__text__title {
    font-size: 5em;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: "Satisfy";
    position: relative;
    display: flex;
    justify-content: center;
}
.home__text__title::before {
    content: '';
    width: 25%;
    height: 3px;
    border-radius: 3px;
    background-color: #FFC107;
    position: absolute;
    bottom: 0;
}
.home__text__sub {
    font-family: "Satisfy";
}
.home__text__link {
    width: 300px;
    border-radius: 30px;
    height: 40px;
    font-weight: 500;
}
.home__text__desc {
    line-height: 26px;
    font-size: 1.15em;
}
.examples__row {
    height: calc(100vh - 70vh);
}
.examples__col__text {
    background: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.5));
}
.examples__col__text__title {
    font-family: "Satisfy";
}
.examples__col__text__link {
    font-weight: 600;
    width: fit-content;
}
