{% extends "base/layout.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'base/styles/cardapio.css' %}">
{% endblock %}

{% block body %}
<main class="container-fluid p-4" id="cardiapio-view">
    <h2 class="mb-4">Cardápio</h2>

    <section class="d-flex gap-3">
        {% for prato in cardapio %}
            <div class="prato card">
                <img src="{{prato.imagem}}" class="prato__imagem card-img img-fluid" alt="Imagem do Cardápio">

                <div class="card-body d-flex flex-column">
                    <h3 class="prato__nome card-title">{{prato.nome}}</h3>
                    <p class="card-text">{{prato.descricao}}</p>
                    <div class="prato__data__container mt-auto mb-3 d-flex align-items-center">
                        <i class="h5 prato__data__icon my-auto me-1 mdi mdi-clock-outline"></i>
                        <p class="prato__data card-text">{{prato.data}}</p>
                    </div>
                    <form action="{% url 'cardapio' %}" method="post">
                        <input type="hidden" name="encomenda" value="{{prato.id}}">
                        <input class="btn btn-warning w-100" type="submit" value="Encomendar">
                    </form>
                </div>
            </div>
        {% endfor %}
        <div></div>
    </section>
</main>
{% endblock %}