{% extends "base/layout.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'base/styles/login.css' %}">
{% endblock %}

{% block body %}
<main>
    <section class="container p-0 m-0 mx-auto mt-5" id="login-view">
        <div class="row row-cols-2 m-0 h-custom">
            <div class="col d-flex flex-column justify-content-center p-custom h-100 form-container">
                <img class="img-fluid mx-auto mb-3 login__logo" src="{% static 'base/images/logo.svg' %}" alt="Logo">
                <h2 class="text-center"><b>Bem vindo(a) de volta!</b></h2>
                <p class="text-center mb-5">Entre para escolher seu prato predileto!</p>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <label class="mb-1" for="username">Username:</label>
                    <input class="form-control mb-3" type="text" name="username" id="username" placeholder="Digite o username">
                    <label class="mb-1" for="password">Senha:</label>
                    <input class="form-control mb-4" type="password" name="password" id="password" placeholder="Digite a senha">
                    <input class="w-100 btn btn-warning" type="submit" value="Entrar">
                    {% if error %}
                    <p class="alert alert-danger mt-3">
                        <i class="mdi mdi-alert"></i> Erro, usuário e/ou senha inválidos.
                    </p>
                    {% endif %}
                </form>
                <a class="text-center mt-3 text-decoration-none" href="{% url 'register' %}">Não tem uma conta? Cadastre-se</a>
            </div>
            <div class="col login-img__container p-0 d-flex h-100 overflow-hidden">
                <img class="img-fluid login-img w-100 h-100 object-fit-cover" src="{% static 'base/images/login_img.jpg' %}" alt="Login Image">
            </div>
        </div>
    </section>
</main>
{% endblock %}