{% extends "base/layout.html" %}
{% load static %}

{% block body %}
<main class="container">
    <h2 class="pt-5 mb-4">Sobre</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, ab laudantium cupiditate praesentium est asperiores eaque, reprehenderit eligendi reiciendis quidem tempore consequuntur! Velit sed voluptates excepturi praesentium a itaque ut assumenda eius nam eligendi facilis necessitatibus repudiandae totam, repellat facere tempore? Nesciunt mollitia cupiditate, dignissimos numquam facere obcaecati, non aspernatur veritatis nulla odit amet ex sapiente odio molestias necessitatibus sequi at, iste unde eveniet provident quia recusandae libero aut illum? Dicta dignissimos pariatur, doloribus odio aspernatur odit eum voluptatem nesciunt deleniti praesentium labore, tempora facilis sint consectetur maiores, quasi enim a. Voluptates blanditiis veniam velit esse exercitationem eveniet quasi ex!</p>
</main>
{% endblock %}